* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(233, 233, 233);
}

/* Screen Reader Text */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

/* Search Input Filter */
.search-icon {
  top: 20px;
  left: 20px;
}

.day-mode .countries-container a {
  background: #fff;
}
