* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Screen Reader Text */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

#dropdownDefaultButton {
  width: 155px;
}

#dropdown {
  transform: translate(0, 70px) !important;
}

/* Search Input Filter */
.search-icon {
  top: 20px;
  left: 20px;
}

.countries-container img {
  width: 100%;
  height: 165px;
  object-fit: cover;
  object-position: center;
}

.countries-container a {
  width: 100%;
}

/* day Mode */

.day-mode {
  background: rgb(233, 233, 233);
}

.day-mode .countries-container a {
  background: #fff;
}
/* dark Mode */

.dark-mode {
  background: rgb(66 66 66);
}

.dark-mode .countries-container a {
  background: #2a2a2a;
}

.dark-mode .countries-container a p,
.dark-mode .countries-container a > div {
  color: white;
}
